<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>

  <form action="/model" method="post">
    <input type="text" name="name">
    <br><br>

    <!-- ✅ name attribute add ki -->
    <input type="text" name="email">
    <br><br>

    <button type="submit">add</button>
  </form>

</body>
</html>
