<!DOCTYPE html>
<html>
<body>

<h2>Students List</h2>

<% students.forEach(s => { %>
  <p>
    <b><%= s.name %></b> — <%= s.fatherName %>
    <form action="/delete/<%= s._id %>" method="POST" style="display:inline">
      <button>Delete</button>
    </form>
  </p>
<% }) %>

<a href="/">Add New</a>

</body>
</html>
